@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label>Select file</label>
        </dt>
        <dd>
            <input name="upload" type="file" accept="application/pdf" />
        </dd>
    </dl>
    <input class="btn btn-success" type="submit" value="Upload file" />
</form>
            
        